body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(4, 4, 17);
  color: aliceblue;
}

.app__logo {
  height: 13rem;

  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 360px) {
  .app__logo {
    height: 10rem;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
